
{% extends "base.html" %}

{% block content %}
    
    <div class="all">
        <div class="header">
            <div>
                <h2>KeremetKyrGyzstan</h2>
            </div>
            <div>
                <a href="{% url 'main' %}">Главная</a>
                <a href="{% url 'signupuser' %}">Регистрация</a>
                <a href="{% url 'signinuser' %}">Войти</a>
                <a href="#about_us">О нас</a>


            </div>
        </div>

        <div class="body">
            <div class="baner">
                <form class="form_container">
                    <h1>Добро пожаловать!</h1>
                    <h4>Пожалуйста, пройдите регистрацию </h4>
                    <h4>или войдите в свой аккаунт</h4>
                    <h4>перед выбором тура</h4>
                </form>
                <div>
                    <img
                        src="https://thumbs.dreamstime.com/b/снежный-барс-на-фоне-горных-вершин-векторная-иллюстрация-хищный-227611788.jpg"
                        alt="ilbirs"/>
                </div>
            </div>
            <div class="block" id="about_us">
                <h1>О нас</h1>
                <span> Наша команда всегда рада предостовлять людям условие для путишествий в нашей стране. Мы вам с удовольствием в этом поможем!
                    Что может быть интереснее и прекраснее, чем познание нового, неизведанного, чем безопасно и грамотно провести время изучая новую страну, и чужую традицию. Расстояния в наш век стремительно сокращаются, становятся все более незаметными.
                    <br/><br/>
                    Обращаясь в «Караван», Вы получаете целый комплекс туристических услуг, а значит – экономите время, деньги и нервы.
                    Наше агентство организует групповые и индивидуальные туры, комбинированные, деловые и экскурсионные поездки, а также отдых в Кыргызстане.</span>
            </div>
        </div>
    </div>

{% endblock %}