
{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <div class="all">
        <div class="header">
            <div>
                <h2>KeremetKyrGyzstan</h2>
            </div>
            <div>
                <a href="{% url 'main' %}">Главная</a>
                <a href="{% url 'signupuser' %}">Регистрация</a>
                <a href="{% url 'signinuser' %}">Войти</a>

            </div>
        </div>

        {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
        {% endif %}

        <div class="body">
            <div class="baner">
                 <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Логин</label>
                    <input type="text" name="username" class="form-control" id="username">
                </div>
                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input type="password" name="password" class="form-control" id="password">
                </div>
                <button type="submit" class="btn btn-primary">Вход</button>
            </form>
                <div>
                    <img
                        src="https://thumbs.dreamstime.com/b/снежный-барс-на-фоне-горных-вершин-векторная-иллюстрация-хищный-227611788.jpg"
                        alt="ilbirs"/>
                </div>
            </div>
        </div>
    </div>

{% endblock %}